@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
</hgroup>
<div class="container padding-top-10">
    <h1>@ViewBag.Title.</h1>
    <p class="padding-10">
        Please check your email to reset your password.
    </p>
    @Html.ActionLink("Goto Home page","Index","Home")
</div>
	
