<h5 class="title-1 m-b-25">Recent Appointments </h5>
<div class="au-card recent-report">
    <div class="au-card-inner">
        <div class="x_panel">
            <div class="x_title">
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id='calendar'></div>
            </div>
        </div>

    </div>
</div>
