<h2 class="title-1 m-b-25">Service History Bar chart</h2>

<!-- CHART-->
<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="au-card m-b-30">
        <div class="au-card-inner">
            <h3 class="title-2 m-b-40">Service History Bar chart</h3>
            <canvas id="barChart"></canvas>
        </div>
    </div>
</div>
<!-- END CHART-->
