<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
	  <add name="PCMSAppCon" connectionString="Data Source=DESKTOP-P1MTOCD\MSSQLSERVER1;Initial Catalog=PCMS;Integrated Security=True;User Id=sa; Password=sa123;" providerName="System.Data.SqlClient" />
	<!--<add name="PCMSAppCon" connectionString="Data Source=pcms-db-ca.csa2rjfopf5t.us-east-2.rds.amazonaws.com;Initial Catalog=PCMS_CA_DB;User Id=pcmsmaster; Password=admin123;Integrated Security=False" providerName="System.Data.SqlClient" />-->
    <!--<add name="PCMSAppCon" connectionString="Data Source=LAPTOP-UQM9C0R3;Initial Catalog=PCMS;User Id=NITHIN; Password=sa123;Integrated Security=False" providerName="System.Data.SqlClient" />-->
    <!--<add name="PCMSAppCon" connectionString="Data Source=NIRASTSVN-PC;Initial Catalog=PCMS;User Id=sa; Password=sa123;Integrated Security=False" providerName="System.Data.SqlClient" />-->
    <!--<add name="PCMSAppCon" connectionString="Data Source=pcms-db-ca.csa2rjfopf5t.us-east-2.rds.amazonaws.com;Initial Catalog=PCMS_CA_DB;User Id=pcmsmaster; Password=admin123;Integrated Security=False" providerName="System.Data.SqlClient" />-->
    <!--<add name="PCMSAppCon" connectionString="Data Source=pcms-dev.csa2rjfopf5t.us-east-2.rds.amazonaws.com;Initial Catalog=PCMS_DEV;User Id=pcmsdevmaster; Password=admin123;Integrated Security=False" providerName="System.Data.SqlClient" />-->
    <!--<add name="PCMSAppCon" connectionString="Data Source=mdus-pp-wb14.webhostbox.net;Initial Catalog=nirasala_pcms_tranqilcare;User Id=pcms_admin1; Password=N!ra@PCMS2018;Integrated Security=False" providerName="System.Data.SqlClient" />-->
    <!--<add name="PCMSAppCon" connectionString="Data Source=mdus-pp-wb14.webhostbox.net;Initial Catalog=nirasala_pcms_qa;User Id=pcms_qa; Password=N!ra@PCMS2018;Integrated Security=False" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="serilog:write-to:File" />
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.restrictedToMinimumLevel" value="Verbose" />
    <add key="serilog:write-to:File.path" value="%BASEDIR%\Logs\Nira.Pcms.Api.log" />
    <add key="serilog:write-to:File.outputTemplate" value="[{Level:u3}] {Timestamp:yyyy-MM-dd HH:mm:ss.fff} {Message}{NewLine}{Exception}" />
    <add key="serilog:write-to:File.retainedFileCountLimit" value="1000" />
    <add key="serilog:write-to:File.rollOnFileSizeLimit" value="true" />
    <add key="serilog:write-to:File.fileSizeLimitBytes" value="10485760" />

    <add key="serilog:write-to:File.shared" value="true" />
    <add key="fromemail" value="nirablogger@gmail.com" />
    <add key="FromEmailPassword" value="/HKJmB5HAv6nTk8evfv9NA==" />
    <add key="MailHost" value="smtp.gmail.com" />
    <add key="MailPort" value="587" />

    <!--<add key="fromemail" value="nirasttest@gmail.com" />
    	-->
    <!--<add key="toemail" value="nirasttest@gmail.com" />-->
    <!--
    
		<add key="FromEmailPassword" value="/HKJmB5HAv6nTk8evfv9NA==" />
		-->
    <!--<add key="FromEmail" value="nirablogger@gmail.com" />-->

    <add key="CcEmail" value="nithinnarayan92@gmail.com" />
    <!--<add key="MailHost" value="smtp.gmail.com" />
		<add key="MailPort" value="587" />-->
    <add key="EnableSsl" value="True" />
    <add key="EncryptPassword" value="Nira@1234" />
    <add key="WriteLogs" value="True" />

    <!--<add key="FromEmailPassword" value="/HKJmB5HAv6nTk8evfv9NA==" />-->

    <add key="RegistrationFromEmail" value="nirasttest@gmail.com" />
    <add key="RegistrationFromEmailPassword" value="/HKJmB5HAv6nTk8evfv9NA==" />

    <add key="PaymentEmail" value="nirasttest@gmail.com" />

    <add key="BookingFromEmail" value="nirasttest@gmail.com" />
    <add key="BookinFromEmailPassword" value="/HKJmB5HAv6nTk8evfv9NA==" />

    <add key="UserPaymentFromEmail" value="nirasttest@gmail.com" />
    <add key="UserPaymentFromEmailPassword" value="/HKJmB5HAv6nTk8evfv9NA==" />

    <add key="SchedulingFromEmail" value="nirasttest@gmail.com" />
    <add key="SchedulingFromEmailPassword" value="/HKJmB5HAv6nTk8evfv9NA==" />

    <add key="DefaultFromemail" value="nirasttest@gmail.com" />
    <add key="DefaultFromEmailPassword" value="/HKJmB5HAv6nTk8evfv9NA==" />

    <add key="InvoiceFromEmail" value="nirasttest@gmail.com" />
    <add key="InvoiceFromEmailPassword" value="/HKJmB5HAv6nTk8evfv9NA==" />

    <add key="InvoiceEmailPath" value="D:/Working/PCMS/Nirast.Pcms.Web/Nirast.Pcms.Web" />


  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="102400" executionTimeout="3600" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>

    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>