
@{
    ViewBag.Title = "DBMerge";

}

<div class="panel">
    <div class="panel-heading">
        <h4>DB Merge</h4>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="col-md-3">
                <button type="button" class="btn btn-primary" onclick="location.href ='@Url.Action("UpdateUserProfilePic", "Admin")'">User Profile Picture</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary" onclick="location.href ='@Url.Action("UpdateCaretakerDoc", "Admin")'">Caretaker Document</button>
            </div>
        </div>
    </div>
</div>

