
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row profile_Style">
        <div class="equal-height-panels">

            <div class="col-lg-12 col-md-12 col-sm-12 ">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <h4>Services</h4>
                    </div>
                    @*<ul>
                        <li class="padding-left-15"><a class="page-scroll" href="#pediatricCare">Services</a></li>
                    </ul>*@
                    @*<div class="wsb-image-inner "><div class="img"><img src="//nebula.wsimg.com/48732629b0796b6bd75ee76888c5568b?AccessKeyId=55D813211C3662662F85&amp;disposition=0&amp;alloworigin=1" style="vertical-align:middle;width:362px;height:295px;"></div></div>*@
                    <div class="panel-body">
                        <div class="txt ">

                            <p style="text-align: justify;">Tranquil Care provide the best quality and qualified Registered Nurses,Registered Practical Nurses,Personal Support Workers and Community Service Workers for our services. They have the experience and specific skills to suit every client, every hour of every day. Together we make the difference positive.</p>
                            <p style="text-align: justify;"><br></p>
                            <section id="domesticCare">
                                <h3 class="heading-color">  Domestic Care</h3>
                                <p style="text-align: justify;"><br></p>
                                <p style="text-align: justify;">Home help services include basic household tasks such as cleaning, cooking and shopping. Our Support Workers are able to undertake the light duties that you would usually carry out on a regular basis such as:</p>
                                <p style="text-align: justify;"><br /></p>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul style="margin-left:20px">
                                            <li class="padding-left-15">Washing/ironing<br /></li>
                                            <li class="padding-left-15">Cleaning bath, toilet and shower</li>
                                            <li class="padding-left-15">Running errandsr</li>
                                            <li class="padding-left-15"> Meal preparation</li>
                                            <li class="padding-left-15">Care of pot plants and pets</li>
                                            <li class="padding-left-15">Vacuuming, dusting and polishing</li>
                                            <li class="padding-left-15">Shopping</li>

                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="~/images/Domestic Assistance.jpg" />
                                    </div>
                                </div>
                            </section>
                            <p style="text-align: justify;"><br></p>
							<section id="attendantcare">
                                <h3 class="heading-color">Living Care</h3>
								<p style="text-align: justify;"><br></p>
								<p style="text-align: justify;">This service helps people to develop their independent living skills and to work towards the personal goals that they, and their treating health care team, have identified are important to them. Services may include:</p>
								<p style="text-align: justify;"><br /></p>
								<div class="row">
									<div class="col-lg-6">
										<ul style="margin-left:20px">
											<li class="padding-left-15"> Assistance with personal care<br /></li>
											<li class="padding-left-15"> Assistance with meeting vocational and /or recreational goals</li>
											<li class="padding-left-15"> Assistance with community access and participation</li>
											<li class="padding-left-15"> Therapy and rehabilitation support.</li>

										</ul>
									</div>
									<div class="col-lg-6">

										<img src="~/images/AttendantCare.jpg" />
									</div>
								</div>
							</section>
                            <section id="eldercare">
								<h3 class="heading-color">Elder Care</h3>
								<p style="text-align: justify;"><br></p>
								<p style="text-align: justify;">Our Elder care services can help you with activities of daily living, which you would normally undertake for yourself, but are unable to due to illness, disability or frailty. We  provide best quality Registered Nurses,Registered Practical Nurses,Personal Care Workers</p>
								<p style="text-align: justify;"><br></p>
								<p style="text-align: justify;">
									We ensure that we provide quality personal care services by:

								</p>
								<ol>
									<li class="padding-left-15" style="text-align: justify;">Complying fully with the Care Plan developed with you and your Case Manager, treating medical professionals, occupational&nbsp;&nbsp; therapist and other allied health professionals;<br></li>
									<li class="padding-left-15" style="text-align: justify;">Ensuring a safe, sensitive, private and dignified care environment;<br></li>
									<li class="padding-left-15" style="text-align: justify;">&nbsp;Working with you and your Case Manager to ensure that the services you are receiving meet your needs (any changes to your Care Plan will be made by discussing these changes with you first); and<br></li>
									<li class="padding-left-15" style="text-align: justify;">&nbsp;Assisting with daily living tasks, including:<br></li>
								</ol>
								<p style="text-align: justify;"><br></p>
								<div class="row">
									<div class="col-lg-6">
										<ul style="margin-left:20px">
											<li class="padding-left-15"> Bathing, showering and sponging<br /></li>
											<li class="padding-left-15"> Dressing and undressing</li>
											<li class="padding-left-15"> Shaving, hair care and grooming</li>
											<li class="padding-left-15"> Assisting with mobility and transfers</li>
											<li class="padding-left-15"> Assisting with rehabilitation and associated therapies</li>
											<li class="padding-left-15"> Continence support</li>
											<li class="padding-left-15"> Supervision of medication</li>
											<li class="padding-left-15"> Assistance with eating and drinking</li>

										</ul>
									</div>
									<div class="col-lg-6">
										<img src="~/images/ElderCare.jpg" />
									</div>
								</div>
							</section>
                            <p style="text-align: justify;"><br></p>                        
                            
                            <p style="text-align: justify;">In order for us to provide the best care, in the safest way possible for you and our support Workers, we need to work with you to firstly ensure that:</p>
                            <p style="text-align: justify;"><br></p>
                            <ul style="margin-left:20px">
                                <li class="padding-left-15"> Your home is assessed to be a safe work environment and support Workers only do the tasks assigned to them;<br></li>
                                <li class="padding-left-15"> Your medication is provided in an approved aid such as a Webster pack or dosette box; and</li>
                                <li class="padding-left-15"> Your health is stable and does not require monitoring by medical personnel.<br></li>
                            </ul>
                            <p style="text-align: justify;"><br></p>
							<section id="Physiotherapy">
								<h3 class="heading-color">Physiotherapy</h3>
								<p style="text-align: justify;"><br></p>
                                <p style="text-align: justify;">
                                    Our physiotherapists heal patients in the comfort of their homes. They assess, diagnose, and develop a treatment plan which varies depending on the patient’s needs. A physiotherapy session is usually of an hour, depending on the criticality of the problem. Our experts help with basic and advanced movement exercises to improve the patient’s mobility.
                                    </p>
								<p style="text-align: justify;"><br /></p>
								<p style="text-align: justify;">
									Physiotherapy has over the years proved its effectiveness in helping patients in restoring their health and enhancing their physical strength, function and mobility. To further enhance your experience with physiotherapy, our Physiotherapists personally visit you and perform physiotherapy at home. Some of the benefits of getting physiotherapy at home include
								</p>
								<p style="text-align: justify;"><br /></p>
								<div class="row">
									<div class="col-lg-6">
										<ul style="margin-left:20px">
											<li class="padding-left-15"> Enables convenience<br /></li>
											<li class="padding-left-15"> Provides personalized care</li>
											<li class="padding-left-15"> Brings about a faster healing process</li>
											<li class="padding-left-15"> No mobility issues</li>
											<li class="padding-left-15"> Better time management</li>
											<li class="padding-left-15"> Cost effective</li>
											<li class="padding-left-15"> Family support and supervision</li>
										</ul>
									</div>
									<div class="col-lg-6">
										<img src="~/images/Physiotherapy.jpg" />
									</div>
								</div>
							</section>
                            
                            <p style="text-align: justify;"><br></p>
                            <p style="text-align: justify;">With our affordable and accountable home services, say good bye to all your worries and hassles of physiotherapy treatment.</p>

                            <p style="text-align: justify;"><br></p>
							<section id="personalCare">
								<h3 class="heading-color">Personal Care</h3>
								<p style="text-align: justify;"><br></p>
								<p style="text-align: justify;">The prime aim of the New Born Baby Care and Mother Care is to advise on planning of postnatal care, education and support required during the postnatal period A lot of care and attention is given to new born baby, which is indeed important and duly needed, although so is the importance of a post delivery care for the mother</p>
								<p style="text-align: justify;"><br /></p>
								<p style="text-align: justify;">Things to expect from New Born Baby Care and Mother Care</p>
								<p style="text-align: justify;"><br /></p>
								<div class="row">
									<div class="col-lg-6">
										<ul style="margin-left:20px">
											<li class="padding-left-15"> New born baby care<br /></li>
											<li class="padding-left-15"> Breastfeeding care</li>
											<li class="padding-left-15"> Personalized Care</li>
											<li class="padding-left-15"> Post delivery mother care</li>
											<li class="padding-left-15"> Counseling and Emotional support for the mother</li>
											<li class="padding-left-15"> Affordable and easily accessible service</li>
										</ul>
									</div>
									<div class="col-lg-6">
										<img src="~/images/PersonalCare.jpg" />
									</div>
								</div>
							</section>                

                            <p style="text-align: justify;"><br></p>
                            <section id="pediatricCare">
                                <h3 class="heading-color">Pediatric Care</h3>
                                <p style="text-align: justify;"><br></p>
                                <p style="text-align: justify;">Pediatric home care brings special rewards and challenges. Each Interim HealthCare professional has extensive experience in the special challenges and rewards associated with pediatric home care. We've been providing expert care to medically fragile children at home for more than a quarter of a century. And our focus remains the same - to give the patient the best care possible using a family centered approach.</p>
                                <p style="text-align: justify;"><br></p>
                                <p style="text-align: justify;">Tranquil Care independent contractors offer a wide variety of services for all aspects of treatment and support, from highly skilled nursing care to very specialized personal care for children with disabilities to light housekeeping and meal preparation. There is also respite care to provide much-needed breaks for the family.</p>
                                <p style="text-align: justify;"><br></p>
                                <p style="text-align: justify;">Tranquil Care is highly qualified personnel include professionals skilled in specialty programs such as:</p>
                                <p style="text-align: justify;"><br></p>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul style="margin-left:20px">
                                            <li class="padding-left-15"> Early maternal - infant discharge<br /></li>
                                            <li class="padding-left-15"> Infant bilirubin treatment</li>
                                            <li class="padding-left-15"> Infusion therapy - IV nursing</li>
                                            <li class="padding-left-15"> Premature infant discharge</li>
                                            <li class="padding-left-15"> Rehabilitation therapy</li>
                                            <li class="padding-left-15"> Technology-dependent</li>
                                            <li class="padding-left-15"> Physically disabled children</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="~/images/PediatricCare.jpg" />
                                    </div>
                                </div>
                            </section>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .heading-color {
        color: #3669ae;
    }
</style>

